h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
