mat-grid-tile {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

mat-grid-tile:hover {
  border-color: blue;
}

.container {
  padding-bottom: 16px;
}

@media (prefers-color-scheme: dark) {
  mat-grid-tile {
    background: #424242;
  }
}
